body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.sub_page {
  background-color: #f1f1f1;
}
.saluteme {
  font-size: 30px;
  font-family: sans-serif;
  margin-left: 20px;
  color: #00577c;
  font-weight: 600;
  margin-top: -30px;
  padding-bottom: 30px;
}
.dashboard {
  width: 390px;
  margin: -2cm auto;
  padding: 20px;
  background-color: #1a016a;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(5, 221, 56, 0.9);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  text-align: center;
  /* height: 10cm; */
}
#myBalance {
  color: rgb(255, 255, 255);
  font-size: 30px;
  position: sticky;
  margin-top: 2cm;

  margin-left: 2.8cm;
}
h1 {
  color: #ffffff;
  font-family: sans-serif;
  padding-bottom: 1cm;
}
.profile-info {
  padding-top: 2cm;
  text-align: center;
  margin-bottom: 20px;
}
.profile-info span {
  margin: 5px 0;
  margin-left: 5px;
  display: block;
  justify-items: left;
  color: #11ffdf;
  font-style: sans-serif;
  font-weight: bolder;
  font-size: large;
}
.profile-info div {
  color: white;
}

.balance-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #fff;
}
button i {
  margin-right: 5px;
}

button:nth-child(1) {
  background-color: #28a745;
  box-shadow: 0 0 2px 2px rgb(255, 255, 255);
  border-radius: 4px;
}
.balance-buttons button:nth-child(2) {
  background-color: #ffc107;
  box-shadow: 0 0 2px 2px rgb(255, 255, 255);
  border-radius: 4px;
}
label {
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  color: #4a5568;
  margin-bottom: 4px;
}
textarea {
  margin-top: 4px;
  padding: 2px;
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  resize: vertical;
  font-size: 0.875rem;
  color: #2d3748;
  outline: none;
  height: 30px;
  border-color: #6435dc;
}

.button1 {
  background-color: #4299e1;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 0.875rem;
  transition: background-color 0.3s;
  margin-left: 2.3cm;
}

/* count Down */
.countdown {
  text-align: center;
}

.countdown h1 {
  font-size: 3rem;
  margin: 0;
  color: #6435dc;
}

.countdown p {
  margin-top: -1cm;
  color: #666;
  position: absolute;
  margin-left: 25%;
}
#loader {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.397);
  display: none;
  z-index: 300;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#loader-item > button {
  background-color: blue;
  font-size: 14px;
  border-radius: 2px;
}
#loader-item > input {
  padding: 3px;
  font-size: 14px;
  outline: none;
  margin-bottom: 1em;
  border: 1.3px solid black;
}
#loader-item {
  background-color: white;
  padding: 1.2em 2em;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

/* withdrawal modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background-color: rgba(29, 27, 27, 0.908);
}

.referrals {
  text-align: left;
  margin: 20px 0;
  padding: 10px;
  background-color: #eee;
  border-radius: 8px;
}
.referrals h3 {
  color: #007bff;
}
#referralList {
  list-style-type: none;
  padding: 0;
}
#referralList li {
  margin: 5px 0;
}
button.logout {
  margin-top: 5px;
  background-color: #dc3545;
  border-radius: 5px;
  width: 100%;
}
.footer_section {
  margin-top: 3cm;
}
